<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Report of {{appName}}</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper" style="padding-left: 55px;padding-right: 55px">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Reporte {{appName}}</h1>
            </div>
        </div>
        <div style="padding: 21px">
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="text-center">
                                    <div class="huge">{{killPercentage}}%</div>
                                    <div>Effectivity of Calabash</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div id="mutants-killed-chart"></div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="text-center">
                                    <div class="huge">{{numMutants}}</div>
                                    <div>Mutants</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div id="mutants-chart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="text-center">
                                    <div class="huge">{{killPercentageMonkeys}}%</div>
                                    <div>Effectivity of monkeys</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div id="mutants-killed-by-monkeys-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">


            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="text-center">
                                    <div class="huge">{{unkilledMutants}}</div>
                                    <div>Unkilled Mutants</div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group">
                            {{unkilledMutantsListHtml}}
                        </div>
                    </div>
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="text-center">
                                    <div class="huge">{{killedMutants}}</div>
                                    <div>Killed Mutants</div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group">
                            {{killedMutantsListHtml}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="text-center">
                                    <div>Monkey Events Distribution</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div id="monkeys-distribution-chart"></div>
                        </div>
                    </div>
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="text-center">
                                    <div class="huge">{{killedMutantsByMonkey}}</div>
                                    <div>Killed Mutants by Monkeys</div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group">
                            {{killedMutantsByMonkeyListHtml}}
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="vendor/raphael/raphael.min.js"></script>
    <script src="vendor/morrisjs/morris.min.js"></script>
    <script src="morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="sb-admin-2.js"></script>

</body>

</html>